<% @notifications.each do |n| %>
  <% content = notification_content(n) %>
  <div class="notification">
    <%= link_to content[:url] do %>
      <%= content[:message] %>
    <% end %>
  </div>
<% end %>
<%# update seen status when clicking or seeing notification %>

<%== pagy_nav(@pagy_n) if @pagy_n.pages > 1 %>
