<div id="posts-container"
     data-controller="infinite-scroll"
     data-action="scroll@window->infinite-scroll#scroll">
  <div data-infinite-scroll-target="entries">
    <%= render 'posts/posts_list' %>
  </div>
</div>
