/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
  background-color: slategrey;
  margin: 0;
}

/* vertically center content in navbar
#user-menu-container, #user-icon, #notifications, #home-button { 
  display: flex;
  flex-direction: column;
  justify-content: center; 
}
*/

#navbar {
  background-color: blueviolet;
  display: flex;
  padding: 5px;
  padding-left: 20px;
  padding-right: 20px;
}

.nav-sub-container:first-child, .nav-sub-container:last-child { 
  flex: 1;
  display: flex;
}

.nav-sub-container:last-child {
  justify-content: flex-end;
}

#home-button {
  background-color: seagreen;
}

#logo {
  background-color: brown;
}

#notifications-dropdown-menu {
  position: relative;
  display: inline-block;
  margin-left: 10px;
  margin-right: 10px;
  background-color: tomato;
}

#notifications-dropbtn {
  all: unset;
  background-color: tomato;
}
/* do stuff to make notifications menu */

#notifications-menu-content {
  margin: 0;
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  right: 0px;
}

#notifications-menu-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

#user-icon {
  height: 30px;
  line-height: 30px;
  background-color: violet;
}

.gravatar {
  height: inherit;
}

#user-dropdown-menu {
  position: relative;
  display: inline-block;
  background-color: red;
}

#user-dropbtn {
  all: unset;
  background-color: red;
}

#home-button, #notifications-dropbtn, #user-dropbtn, #logo {
  padding-left: 10px;
  padding-right: 10px;
  height: 30px;
  line-height: 30px;
}

#user-menu-content {
  margin: 0;
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  right: 0px;
}

#user-menu-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
#user-menu-content a:hover, #notifications-menu-content a:hover {
  background-color: #ddd;
}

/* Show the dropdown menu on hover */
#user-dropdown-menu:hover #user-menu-content, 
#notifications-dropdown-menu:hover #notifications-menu-content {
  display: block;cursor: pointer;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
#user-dropdown-menu:hover #user-dropbtn,
#notifications-dropdown-menu:hover #notifications-dropbtn {
  background-color: #3e8e41;
}
