#posts-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.post {
  background-color: grey;
  width: 500px;
  display: flex;
  flex-direction: column;
  margin: 10px;
}

.post-sub {
  background-color: aliceblue;
  display: flex;
  justify-content: space-between;
}

.post-header {
  background-color: darkgrey;
  display: flex;
  justify-content: space-between;
  padding: 3px;
}

.post-body {
  margin: 10px;
}

.likes-dislikes {
  display: flex;
  padding: 3px;
}

.comments-indicator {
  background-color: blueviolet;
  display: flex;
  align-items: center;
}

.likes {
  margin-right: 10px;
}

.reply-bar {
  margin: auto;
}

.reply-sub-container {
  display: flex;
  align-items: center;
}

.reply-bar .reply-gravatar {
  height: 32px;
  margin-right: 10px;
}

.reply-bar .reply-field {
  height: 36px;
}

.post-options {
  display: flex;
  justify-content: space-around;
}

.post-options :first-child {
  background-color: red;
  width: 100%;
  text-align: center;
}

.post-options :last-child {
  background-color: green;
  width: 100%;
  text-align: center;
}
